
	  {% if percent_done <= 99 %}
			{% if mode == 'clean' %}
			<div class="row">
				<div class="col text-center">
		    	<center><h3> Cleaning </h3></center>
				</div>
			</div>
			{% else %}
			<div class="row">
				<div class="col text-center">
		    	<center><h3> Your drink is on the way </h3></center>
				</div>
			</div>
			{% endif %}
		<br>
		<div class="row">
			<div class="col text-center">
	    	<div class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{ percent_done_text }}"> <b>{{ percent_done_text }}</b> </div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col text-center">
		    <form name="input" action="/work/cancel" method="POST">
		      <button type="submit" name="cancel" value="cancel" class="btn btn-error btn-sm">Cancel</button>
		    </form>
			</div>
		</div>

	  {% else %}
		<div class="row">
			<div class="col text-center">
	    	<center><h3>All Done!</h3></center>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col text-center">
		    <form name="input" action="/" method="POST">
		  	   <button type="submit" name="return_menu" value="success" class="btn btn-success btn-sm">Return to Menu</button>
		    </form>
			</div>
		</div>

	  {% endif %}
