{% extends 'base.html' %}

{% block cssextend %}
<link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
{% endblock %}

{% block title %} Drink Menu {% endblock %}

{% block content %} 

  	<div class="container">
				<div class="card shadow">
				  <div class="card-body">
						<form name="input" action="/work" method="POST">

								<div id="drinklist" class="carousel slide" data-ride="carousel">

								  <!-- Indicators -->
								  <ul class="carousel-indicators">
										{% for index in range(num_drinks) %}
											{% if index == 0 %}
												<li data-target="#drinklist" data-slide-to="1" class="active"></li>
											{% else %}
								    			<li data-target="#drinklist" data-slide-to="{{ index + 1 }}"></li>
											{% endif %}
										{% endfor %}
									</ul>

							  <!-- The slideshow -->
							  <div class="carousel-inner">

								<div class="carousel-item active">
									<img src="{{ url_for('static', filename='img/drinks/default.jpg') }}" alt="Welcome to PiTender">
									<div class="carousel-caption">
									<h3>Welcome to PiTender</h3>
									<p>Use the arrows to select a drink option.</p>
									</div>
								</div>

								{% for drink_name, drink_data in drinklist.items()|sort %}

								<div class="carousel-item">
									<img src="{{ url_for('static', filename=drink_data['image']) }}" alt="{{ drink_name }}">
										<div class="carousel-caption">
											<h3>{{ drink_data['name'] }}</h3>
											<p>{{ drink_data['description'] }}</p>
											<button type="submit" name="makedrink" value="{{ drink_name }}" class="btn btn-success btn-sm">Make It!</button>
										</div>
								</div>

								{% endfor %}
							</div>

							  <!-- Left and right controls -->
							  <a class="carousel-control-prev" href="#drinklist" data-slide="prev">
							    <span class="carousel-control-prev-icon"></span>
							  </a>
							  <a class="carousel-control-next" href="#drinklist" data-slide="next">
							    <span class="carousel-control-next-icon"></span>
							  </a>

							</div>

						</form>
						<br>

            <!-- Load Refreshable Data (progress bar) -->
            <!-- <div id="refreshdata"></div> -->

				  </div>
				</div>
  	</div> <!-- End Showcase -->
	{% endblock %}