<td>
    <input type="text" class="form-control" id="ing_new_id_{{ id }}" name="ing_new_id_{{ id }}" value="{{ id }}">
</td>
<td>
    <input type="text" class="form-control" id="ing_new_dn_{{ id }}" name="ing_new_dn_{{ id }}" value="{{ displayname }}"></td>
</td>
<td>
    <button type="button" class="btn text-success ingrSaveButton" ing_id="{{ id }}" data-toggle="tooltip" title="Save Changes"><i class="far fa-save"></i></button>
    <button type="button" class="btn text-danger ingrDelButton" ing_id="{{ id }}" data-toggle="tooltip" title="Delete Row"><i class="far fa-trash-alt"></i></button>
</td>