{% extends 'base.html' %}

{% block head %} 
	<!-- Redirects on Action -->
	{% if "cancel" in action %}
      <meta http-equiv="refresh" content="1;url=/" />
    {% endif %}
{% endblock %}

{% block title %} Drink Menu {% endblock %}

{% block content %} 

  	<div class="container">
				<div class="card">
				  <div class="card-body">
						{% if "cancel" in action %}
						<center>
								<H1>Cancelling...</H1><br>
								Please wait.
			        </center>
			      {% else %}
							<!-- Load Refreshable Data (progress bar) -->
							<div id="refreshdata"></div>
			      {% endif %}

				  </div>
				</div>
  	</div> <!-- End Showcase -->
{% endblock %}

{% block scripts %}  
<script>
  $(document).ready(function(){
    $('#refreshdata').load("/data");
    setInterval(function(){
      $('#refreshdata').load("/data");
    }, 1000);
  });
</script>
{% endblock %}
